// Variables
$black: #000000;
$white: #ffffff;
$hover: #695EE4;
$low-badge: #BE4E4E;
$font-size-title: 24px;
$font-size-overview: 16px;
$font-size-arrow-icon: 18px;
$arrow-size: 40px;
$slide-padding: 5px;

// Imports
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";

// Wrapper Styles
.socks-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
}

// Content Styles
.socks-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Header Styles
.socks-header {
  text-align: left;
  max-width: 50%;
  flex-direction: column;

  .socks-title,
  .socks-overview {
    margin-bottom: 10px;
    font-size: $font-size-title;
  }
  
  .socks-overview {
    font-size: $font-size-overview;
  }
}

.card-title {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $black;

  strong {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.card-link {
  color: $black;
}

// Glide Slider Styles
.glide {
  width: 100%;
  max-width: 1400px;
  position: relative;
  margin: 20px auto;

  .glide__track,
  .glide__slide {
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    position: relative;
  }

  .glide__slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: opacity 0.3s ease;
  }

  .glide__slide p {
    margin-top: $slide-padding;
  }
  .glide__slide:hover img {
  opacity: 0.5;
  }
}

.glide__slide {
  .image-container {
    position: relative;
    width: 100%; // Ensure it spans the full width of its parent glide__slide
    img {
      width: 100%;
      height: auto;
      border-radius: 8px; 
    }
  }

  .slide-button {
    position: absolute;
    left: 50%; // Center it horizontally, i need to change this
    transform: translateX(-50%); 
    background-color: var(--button-color);
    color: $white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 90%; 
    text-align: center;
    background-color: var(--button-color);
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--button-hover-color);
    }
  }
  .color-selectors {
    position: absolute;
    bottom: 15px;
    left: 10px;
    display: flex;
  }
  
  .color-selector {
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    cursor: pointer;

    &:after {
      content: "\f00c"; // FontAwesome checkmark unicode vs svg
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px; 
      color: $white; // Adjust color as needed, but if variant selector is white, reverse color?
      opacity: 0; 
      transition: opacity 0.3s ease;
    }

    &.selected:after {
      opacity: 1;
    }
  }
  .inventory-status {
    position: absolute;
    top: 15px;
    left: 15px;

    .low-stock-badge {
      background-color: $low-badge;
      color: $white;
      padding: 3px 8px;
      border-radius: 4px;
    }
    .bestseller-badge {
      background-color: $white;
      color: $black;
      padding: 3px 8px;
      border-radius: 4px;
    }
  }
}






// Arrow Styles
.glide__arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-1300%);
}

.glide__arrow {
  background-color: $white;
  opacity: 0.8;
  color: $black;
  border-radius: 50%;
  border: none;
  width: $arrow-size;
  height: $arrow-size;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $black;
    color: $white;
  }
  
  &.glide__arrow--left {
    left: -20px;
    top: 50%;
  }

  &.glide__arrow--right {
    right: -20px;
    top: 50%;
  }
}



// Button Styles
.socks-button {
  background-color: var(--button-color);
  align-self: flex-end;
  margin-bottom: 20px;
  color: $white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  display: block;

  &:hover {
    background-color: var(--button-hover-color);
  }
}
/*
.slide-button {
  background-color: var(--button-color);
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  display: block;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  top: 326px;
  left: 0;
  text-align: center;

  &:hover {
    background-color: var(--button-hover-color);
  }
}
*/

.socks-button-lower {
  display:none;
}

// Tablet
@media (max-width: 768px) {
    .socks-header {
      max-width: 100%;
    }

    .socks-button {
        background-color: var(--button-color);
        align-self: flex-start;
        margin-bottom: 20px;
        color: $white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s;
        display: block;
      
        &:hover {
          background-color: var(--button-hover-color);
        }
      }
  
    .socks-content {
      flex-direction: column; 
      align-items: center; 
    }
  

  }

// Mobile
@media (max-width: 480px) {
    .socks-wrapper {
        position: relative;
        padding: 40px 20px;
    }
    .socks-content {
        flex-direction: column;
        align-items: stretch;
      }
    .socks-button {
        display: none;
        width: 100%; 
        margin-top: 20px; 
 
    }
    .socks-button-lower {
      background-color: var(--button-color);
      align-self: flex-end;
      margin: 20px 0;
      color: $white;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;
      display: block;
      width: 100%;
      text-align: center;
    
      &:hover {
        background-color: var(--button-hover-color);
      }
 
    }

    .glide .glide__arrows .glide__arrow {
        display: none;
    }

    .socks-wrapper .socks-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .glide {
        width: 100%;
    }
}
